body {
  font-family: 'Rye', cursive;
  background-image: url("https://pixy.org/src/5/53612.jpg");
}

h1 {
  text-align: center;
  margin-top: 40px;
}

#divOutput {
  text-align: center;
  padding: 20px;
  margin-bottom: 15px;
}

#divOutput img {
  width: 375px;
  height: auto;
}
